body {
    background-color: white;
}

.hidden {
    display: none;
}

.taskList {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.taskCard {
    border: 1px solid #989a9b;
    flex-basis: 40.0%;
    margin: 10px;
    height: 70px;
    display: flex;
    flex-direction: row;
}

.taskButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taskNameAndDate{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    background-color: #f5f4f4;
}
